extends layout

block content
  h1= title

  .row
    each snakes in results
      .col-3 
        ul
          li snakes color : #{snakes.snake_color}
          li snakes breed : #{snakes.snake_breed}
          li snakes price : #{snakes.snake_price}